*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    height: 70vh;
    padding-inline: 100px;
    background-image: url('./img/events.jpg');
    background-size: 2600px 1100px;
    background-position-x: 850px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

.quad1{
    height: 100%;
    width: 40%;
    background-color: blue;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu{
    gap: 130px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.menu2{
    gap: 29px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main{
    flex-grow: 1;
    display: flex;
}

.conteudo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blueviolet;
}

.conteudo p {
    font-family: "Exo", sans-serif;
    width: 90%;
    font-size: 140px;
    padding-top: 2%;
    font-weight: 200;
}

.conteudo2 {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
    background-color: red;
}

.conteudo2 p{
    font-family: "Actor", sans-serif;
    width: 90%;
    font-size: 80px;
}

.tickets {
    height: 500%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aquamarine;
}

.tickets p{
    font-family: "Actor", sans-serif;
    font-size: 150px;
    color: #FF8D00;
}

.now {
    height: 900%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: green;

}
    
.now p{
    font-size: 90px;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 395;
    padding-bottom: 20%;
}

.acao button{
    height: 100px;
    width: 400px;
    font-size: 40px;
    background-color: #FF8D00;
    color: black;
    border-radius: 30px;
}



footer{
    height: 100px;
}