*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

.quad1{
    height: 45vh;
    width: 40vh;
    background-color: white;
    padding-inline: 10px;
    opacity: 36%;
}

.quad2{
    height: 45vh;
    width: 40vh;
    padding-inline: 10px;
    position: absolute;
    top: 25%;
    right: 17%;
    background-color: white;
    opacity: 36%;
}

.quad3{
    height: 45vh;
    width: 40vh;
    padding-inline: 10px;
    position: absolute;
    top: 45%;
    right: 5%;
    background-color: white;
    opacity: 36%;
}

.title{
    height: 100vh;
    width: 50vh;
    padding-inline: 10 px;
    position: absolute;
    top: 25%;
    right: 25%;
    color: white;
}

.title p{
    font-family: "Love Ya Like A Sister", cursive;
    width: 90%;
    
}

body{
    height: 70vh;
    padding-inline: 10vh;
    background-image: url('./img/events.jpg');
    background-size: 57% 150%;
    background-position-x: 100%;
    background-position-y: 0%;
    background-repeat: no-repeat;
}

header{
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu{
    gap: 55%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.menu2{
    gap: 2vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main{
    flex-grow: 1;
    display: flex;
}

.conteudo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo p {
    font-family: "Exo", sans-serif;
    width: 90%;
    font-size: 900%;
    padding-top: 2%;
    font-weight: 200;
}

.conteudo2 {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;

}

.conteudo2 p{
    font-family: "Actor", sans-serif;
    width: 90%;
    font-size: 80px;
}

.tickets {
    height: 500%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tickets p{
    font-family: "Actor", sans-serif;
    font-size: 950%;
    color: #FF8D00;
}

.now {
    height: 900%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
.now p{
    font-size: 590%;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 395;
    padding-bottom: 20%;
}

.acao button{
    height: 8vh;
    width: 35vh;
    font-size: 4vh;
    background-color: #FF8D00;
    color: black;
    border-radius: 2vh;
}

footer{
    height: 100%;
}